header {
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--brand-fundo);

    padding: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

header img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    margin-left: 50px;
}

.nome-colegio p {
    font-size: 30px;
    color: var(--brand-amarelo);
    -webkit-text-stroke: 1px black;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-bottom: -5px;
}

.nome-colegio h1 {
    color: var(--brand-laranja);
    -webkit-text-stroke: 1px black;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 50px;
}