<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lidia Cruz - Professores</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"/>

    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/dashboard.css" />
  </head>

  <body>
    <main>
      <header>
        <a href="#">
          <img
            src="../static/images/logo-colegio-lidia-cruz.jpg"
            alt="Logo do Colégio Lidia Cruz"
          />
        </a>
        <div class="nome-colegio">
          <p>Colégio</p>
          <h1>Lidia Cruz</h1>
        </div>
      </header>
      <div class="sub-header">
        <div class="navbar">
          <div class="link-navegacao">
            <a href="./turmas.html">Turmas</a>
            <img src="../static/images/icon-turmas.png" alt="" class="icon" />
          </div>
          <div class="link-navegacao">
            <a href="#">Professores</a>
            <img
              src="../static/images/icon-professores.png"
              alt=""
              class="icon"
            />
          </div>
          <div class="link-navegacao">
            <a href="./alunos.html">Alunos</a>
            <img src="../static/images/icon-alunos.png" alt="" class="icon" />
          </div>
        </div>

        <div class="dashboard">
          <div class="buscador">
            <input type="text" placeholder="Busca" class="input-buscador"/>
            <img src="../static/images/icon-lupa-buscar.png" alt="Buscar" class="lupa">
          </div>
          <h2>Professores</h2>

          <div class="acoes">
            <div class="dropdowns">
              <select name="professor" id="professor">
                <option value="" disabled selected>Professor</option>
                <option value="fernanda">Fernanda</option>
                <option value="ana-claudia">Ana Cláudia</option>
                <option value="paulo-henrique">Paulo Henrique</option>
              </select>

              <select name="turma" id="turma">
                <option value="" disabled selected>Turma</option>
                <option value="f-a">F-A</option>
                <option value="6o-b">6º-B</option>
                <option value="1o-b">1º-B</option>
              </select>
            </div>
            
            <button class="button-new">Novo Professor +</button>
          </div>

          <div class="tabela">
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Matéria</th>
                  <th>Turma</th>
                  <th>Ano Letivo</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <!-- Linhas de exemplo -->
                <tr>
                  <td>Fernanda</td>
                  <td>Biologia</td>
                  <td>Fund.-A, 6º - A</td>
                  <td>2024</td>
                  <td class="action-icons">
                    <img src="../static/images/icon-lapis-editar.png" alt="Editar">
                    <img src="../static/images/icon-lixeira-excluir.png" alt="Excluir">
                  </td>
                </tr>
                <tr>
                  <td>Ana Cláudia</td>
                  <td>Geografia</td>
                  <td>6º - A</td>
                  <td>2024</td>
                  <td class="action-icons">
                    <img src="../static/images/icon-lapis-editar.png" alt="Editar">
                    <img src="../static/images/icon-lixeira-excluir.png" alt="Excluir">
                  </td>
                </tr>
                <tr>
                  <td>Paulo Henrique</td>
                  <td>Matemática</td>
                  <td>1º - B</td>
                  <td>2024</td>
                  <td class="action-icons">
                    <img src="../static/images/icon-lapis-editar.png" alt="Editar">
                    <img src="../static/images/icon-lixeira-excluir.png" alt="Excluir">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
